* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background: linear-gradient(to left, #EEA47FFF, #EEA47FFF, #EEA47FFE);
}

p {
  font-size: 1.2em;
}

.title-element {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  text-decoration: wavy;
  border-bottom: solid 3px royalblue;
}

.sidebar-element {
  height: 100vh;
  min-width: 20vw;
  max-width: 20vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  border-top: 3px royalblue solid;
  overflow-y: auto;
}

.game-window {
  position: absolute;
  width: 80vw;
  height: 90vh;
  max-width: 80vw;
  max-height: 90vh;
  right: 0px;
  display: flex;
  flex-wrap: wrap;
  border-top: 3px solid royalblue;
  border-left: 3px solid royalblue;
}

.character-element {
  border: royalblue solid 1px;
  height: 80%;
  min-width: 30%;
  min-height: 80%;
  z-index: -5;
  position: relative;
}



#opossum-facts-embedded {
  width: 100%;
  height: auto;
}

.character-picture {
  position: absolute;
  transform: scalex(-1);
  width: auto;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.puzzlebox-element {
  border: royalblue solid 1px;
  min-width: 70%;
  max-width: 70%;
  height: 80%;
}

.puzzlebox-element h2 {
  margin: 12px 0;
}

.game-window .puzzlebox-element {
  display: block;
  text-align: center;
}

.dialoguebox-element {
  border: royalblue solid 1px;
  min-height: 20%;
  height: 20%;
  width: 100%;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: auto;
}


.background-opacity {
  background-color: rgba(102, 93, 236, 0.342);
  padding: 6px 12px;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
  pointer-events: visible;
}


.nav-base {
  border-top: 1px solid royalblue;
  min-height: 300px;
}

.nav-puzzles {
  text-align: center;
  min-height: 400px;
}

.nav-base, .nav-puzzles {
  text-align: center;
  list-style: none;
  text-decoration: none;
  border-bottom: 3px solid royalblue;
}

.nav-base h2, h3 {
  text-align: center;
}

.nav-puzzles h2, h3 {
  text-align: center;
}



@media screen and (max-height: 900px) {

  .youtube-player {
    visibility: hidden;
  }

}

.sidebar-element li {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 20px 0;
  justify-content: center;
}

.youtube-player {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: -10;
}


iframe {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}


.Puzzle-Link {
  visibility: hidden;
}

.hidden {
  visibility: hidden;
}

.reveal {
  visibility: visible;
}

.index-format p {
  text-align: left;
}

#Answer1 {
  text-transform: lowercase;
}

#MathProblem2 {
  width: 100%;
  height: auto;
}

.mathpics1 {
  display: inline;
}

.puzzlebox-element {
  overflow-y: auto;
}

#Answer3 {
  text-transform: lowercase;
}

#PE4 a:hover, a:visited, a:active {
  text-decoration: none;
  cursor: default;
}

#kidneypic {
  width: 100%;
  height: auto;
}

.p5btns p {
  font-size: 150%;
}

.button, button {
  background-color: bisque;
  color: black;
  padding: 3px;
  border: 1px black solid;
  margin: 3px;
  border-radius: 35%;
  cursor: pointer;
}

input {
  background-color: bisque;
  border: 1px solid black;
  margin: 3px;
}

.puzzlebox-element p {
  display: inline;
}

.endgame-links {
  text-decoration: underline;
  color: royalblue;
}

#about-devs-element {

  width: 100%;
  display: block;
  text-align: center;
  padding: 12px;
}